@font-face {
  font-family: Medium;
  src: url('../Fonts/HVD%20Fonts%20-%20PlutoSansMedium.otf');
}

@font-face {
  font-family: Regular;
  src: url('../Fonts/HVD%20Fonts%20-%20PlutoSansRegular.otf');
}

@font-face {
  font-family: CondRegular;
  src: url('../Fonts/HVD%20Fonts%20-%20PlutoSansCondRegular.otf');
}

@font-face {
  font-family: CondBold;
  src: url('../Fonts/HVD%20Fonts%20-%20PlutoSansCondBold.otf');
}

@font-face {
  font-family: CondLight;
  src: url('../Fonts/HVD%20Fonts%20-%20PlutoSansCondLight.otf');
}

@font-face {
  font-family: CondMedium;
  src: url('../Fonts/HVD%20Fonts%20-%20PlutoSansCondMedium.otf');
}
